@use "../utils" as *;

.registrationContainer__title {
  text-align: center;
}

.registrationContainer__form {
  display: flex;
  flex-direction: column;
  @include paddingPct(25);
}


.submitRegister {
  width: 20%;
}

.register__label {
  display: flex;
  justify-content: space-between;
  @include paddingY(15);
  
}

.register__question {
  text-align: center;
  width: 20%;
  background-color: red;
}

.register__input {
  width: 55%;
  background-color: blue;
}

.register__button {
  width: auto;
  background-color: green;
}

.register__checkbox {
  width: 3%;
}