/* @tailwind base; */

.flex {
  display: flex
}

.hidden {
  display: none
}

.justify-between {
  justify-content: space-between
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity))
}